
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Arrived! 23rd November 2015,  16:06</h3>
        <p>Arrived alright at Villiers Park alright, the place seems quite nice and fairly up to date. The main challenge/project for the week is for us to create our own blogs, so here I am typing up our day so far. The people seems quite friendly, the typical nerdy CS group, the great thing of which is that everyone instantly knows each other’s interests to some degree. There seems to be a range of people with different levels of experience with programming and computer science.
We have been split up into 5 different groups, each with our own language and framework that we are going to use throughout the week. I chose to be in the group using PHP, means I can add another language to the list of ones I know or have at least dabbled in. The sound of everyone typing furiously has filled the room; it is quite calming in a way.
Couple of people have already commented on my laptop, while it feels nice it does also make me a wee bit uncomfortable. Kind of useful to have this laptop though, from the looks of thing I’ll be using it instead of the computers here, plus it’s probably slightly faster, especially as we are going to be using VirtualBox.
</p>
    </div>
  </div>
</div>
{% endblock %}
