{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Finale 27th November 2015,  09:33</h3>
        <p>Ok, so maybe this week wasn’t as successful as we had hoped on the computer science side of things. Although we have a blog up and running each they are still fairly primitive and use next to no PHP. However, the other groups seem to have done fairly well but I guess we will find out when it comes to the presentations. Speaking of which we have a PowerPoint that is near finished, just a couple of final touches to be made, while it may not quite make up ten minutes it should be enough for us to look alright. The odds of us winning are near non-existent, not that I think we should, given how little PHP we ended up using and the fact that PHP is universally recognised as a poor language choice.
</p>
    </div>
  </div>
</div>
{% endblock %}
